/.pytest_cache
/.venv
/2020-11-24 Value at Risk (VaR) Explained!.ipynb
/2021-07-13 American Option Pricing with Binomial Trees _ Theory _ Implementation in Python.ipynb
/creds.py
/Untitled10.ipynb
/__pycache__